<figure data-theme="#A05F4B">
    <div class="project-hero__image">
        <a class="project-hero__action" href="">
            <img class="lazy" src="assets/images/project-hero__image2.jpg" alt="" />
        </a>
    </div>
    <figcaption class="project-hero__text">
        <p class="txt-personal">
            Lorem ipsum dolor sit amet
        </p>
    </figcaption>
    <button class="project-hero__next btn-shortcut fx-theme"><i class="icn icn-chevron-right"></i></button>
</figure>
<figure data-theme="#6B875E">
    <div class="project-hero__image">
        <a class="project-hero__action" href="">
            <img class="lazy" src="assets/images/project-hero__image3-medium.jpg" alt="" />
        </a>
    </div>
    <figcaption class="project-hero__text">
        <p class="txt-personal">
            Lorem ipsum dolor sit amet
        </p>
    </figcaption>
    <button class="project-hero__next btn-shortcut fx-theme"><i class="icn icn-chevron-right"></i></button>
</figure>
