<div class="project-hero hero">
    {% for post in site.data.project.featured %}
    <figure data-theme="#{{ post.color }}">
        <div class="project-hero__image">
            <a class="project-hero__action" href="#">
                {% include image-sets/project-hero.html %}
            </a>
        </div>
        <figcaption class="project-hero__text">
            <p class="txt-personal">
                {{ post.caption }}
            </p>
        </figcaption>
    </figure>
    {% endfor %}
</div>
