

/* Utility Styling */

img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.fx-blend {
    transition: mix-blend-mode 300s ease-in;
    background-color: $color-neutral-darkest-grey;
    .img {
        mix-blend-mode: luminosity;
    }
    &:hover .img {
        mix-blend-mode: normal;
    }
}

.is-cloaked {

    color: inherit;

    &:hover,
    &:active {
        &,
        &:visited {
            color: inherit;
        }
    }
    &:active {
        &,
        &:visited {
            color: $color-anchor--active;
        }
    }
    &:visited {
        color: inherit;
    }
}
.is-narrative {
    position: absolute;
    left: -999em;
    top: -999em;
}
.is-silent {
    speak: never;
}
.is-gt-sh {
    display: none;
    // position: absolute;
    // left: -999em;
}

.fx-scale-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*
     * 1. Assuming this is an inline tag
     */
    &,
    img {
        display: block; /* 1 */
    }
    img {
        transition: min-width 400ms ease-out, min-height 400ms ease-out;
        min-width: 102%;
        min-height: 102%;
    }
    &:hover img {
        min-width: 100%;
        min-height: 100%;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: background-color 400ms ease-out;
        background-color: rgba(0,0,0,0);
    }
    &:hover::after {
        background-color: rgba(255,255,255,.1);
    }
}
.fx-theme {
    background-color: $color-accent;
    transition: background-color 200ms linear;
}
.fx-color {
    color: $color-accent;
    transition: color 200ms linear;
}

.lt-list {
    &--reset {
        list-style: none;
        padding: 0;
    }
}
.lt-stack {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &--row {
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__item {
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 2em;
        &:last-child {
            flex-grow: 0;
            align-items: flex-end;
            margin-right: 0;
        }
    }
    &--nowrap {
        flex-wrap: nowrap;
    }
}
.lt-wrap {
    display: inline;
    &__tight {
        display: inline-block;
        width: 100%;
    }
    &__loose {}
    &__end {}
    &--m-h &__tight {
        display: inline-block;
    }
}
.lt-leader {
    margin-top: 2em;
    &--double {
        margin-top: 4em;
    }
}
.lt-trailer {
    margin-bottom: 2em;
    &--double {
        margin-bottom: 4em;
    }
}


.u-root {
    position: relative;
}
.u-stretch {
    display: block;
}
.txt-paragraph {
    margin-bottom: 2em;
}
.txt-personal {
    font-family: $overtherainbow-family;
}
.txt-signature {
    &::after {
        content: "\003C\0033"
    }
}
.txt-caption {
    font-family: $overtherainbow-family;
    font-size: to-unit(14px);
    line-height: 2;
}
.txt-meta {
    font-size: to-unit(12px);
    font-weight: 400;
    color: $color-accent;
}
.txt-title {
    transition: font-size 300ms ease-out;
    font-size: to-unit(36px);
    line-height: 1;
    font-weight: 400;
}
.txt-heading {
    font-size: 2em;
    line-height: 2;
    font-weight: 300;
}
.txt-subheading {
    font-family: $overtherainbow-family;
    color: $color-accent;
    line-height: 2;
}
.txt-intro {
    line-height: 2;
}
.txt-go {
    &::after {
        content: " \2014 \003E";
    }
}
.txt-ellipsis {
    &::after {
        content: " \2026";
    }
}
.txt-colon {
    &::after {
        content: "\003A";
    }
}
.txt-center {
    text-align: center;
}


/* Component Styling */
a,
.anchor {
    color: $color-anchor;
    &:hover {
        &,
        &:visited {
            color: $color-anchor--hover;
        }
    }
    &:active {
        &,
        &:visited {
            color: $color-anchor--active;
        }
    }
    &:visited {
        color: $color-anchor--visited;
    }
    &--accent {
        color: $color-accent;
        &:hover {
            &,
            &:visited {
                color: $color-anchor--hover;
            }
        }
        &:active {
            &,
            &:visited {
                color: $color-anchor--active;
            }
        }
        &:visited {
            color: $color-accent;
        }
    }
}

.author-info {
    display: flex;
    flex-direction: row;
    &__image {
        padding-top: .5em;
        width: rhythm(5);
        flex-shrink: 0;
    }
    &__text {
        padding-left: rhythm(1);
    }
}

.btn {
    padding: rhythm(.5) rhythm(4);
    background: none;
    border: 1px solid;
    color: $color-neutral-lightest-grey;
    line-height: rhythm(1);
    &__label {
        color: $color-accent;
    }
    &--stretch {
        width: 100%;
    }
    &--sleak {
        transition: padding 600ms ease-out, border-color 600ms ease-out;
        padding: rhythm(.5) rhythm(1);
        border: 0;
        border-bottom: 1px solid;
    }
}

.btn-shortcut {
    display: block;
    width: rhythm(2);
    height: rhythm(2);
    background-color: $color-accent;
    line-height: rhythm(2);
    text-align: center;
    font-size: to-unit(16px);
    &,
    &:visited {
        color: $color-neutral-lightest-grey;
    }
    &:hover,
    &:active,
    &:focus {
        color: $white;
    }

    &--no-theme {
        background-color: $color-body;
    }
}

.input {

    /*
     * 1. Chrome/Opera/Safari
     * 2. Firefox 19+
     * 3. IE 10+
     * 4. Firefox 18-
     */

    padding: rhythm(.5) rhythm(1);
    background-color: #291E20;
    background-color: rgba(0,0,0,.2);
    border-bottom: 1px solid rgba($color-neutral-lightest-grey, .6);
    border-radius: $border-radius;
    height: rhythm(3);
    font-size: to-unit(14px);
    line-height: rhythm(2);
    transition: color 600ms ease-out, border-color 600ms ease-out;

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
       transition: background-color 600000s 0s, color 600000s 0s;
     }

    &,
    &::placeholder {
        color: $color-neutral-lightest-grey;
    }

    &:hover,
    &:focus,
    &:focus-visible {
        background-color: #241A1C;
        background-color: rgba(0,0,0,.3);
        outline-width: 0;
        outline-style: none;
        outline-offset: 0;
        outline-color: transparent;
        border-color: $color-neutral-lightest-grey;
    }

    &--textarea {
        transition: height 1000ms ease-out;
        border-width: 0 0 1px 0;
        &:focus {
            height: rhythm(10);
        }
    }
}

.form {
    &__row {
        margin-top: rhythm(1);
    }
    &:first-child {
        margin-top: 0;
    }
}

.masthead {

    margin: 0 rhythm(1) 0 rhythm(2);
    padding-top: rhythm(4);
    height: rhythm(11.5);

    &__header {
        font-size: to-unit(40px);
        line-height: 1;
    }
    &__payoff {
        font-size: .8ex;
        font-family: $overtherainbow-family;
    }
    &__menu {
        position: absolute;
        top: 0;
        right: 0;
        padding: rhythm(.5) 0;
        text-align: right;
    }
}

.masthead-section {

    position: relative;
    margin: 0 rhythm(1);
    padding-top: rhythm(3);

    &::after,
    &__payoff::before {
        content: "";
        display: block;
    }
    &::after {
        height: rhythm(2);
        border-top: 1px solid $color-neutral-lightest-grey;
    }
    &__payoff::before {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 2ex;
        background-color: $white;
    }

    &__header {
        padding-bottom: .5em;

        font-size: to-unit(36px);
        line-height: 1;
    }
    &__payoff {
        z-index: 1;
        position: relative;
        top: .6em;

        font-size: to-unit(42px, 1em, 36px);
        font-family: $overtherainbow-family;
        line-height: 0;
        color: $color-accent;
    }
    &__menu {
        position: absolute;
        top: 0;
        right: 0;
        padding: rhythm(.5) 0;
        text-align: right;
    }
}

.menu {

    display: flex;
    flex-direction: row;

    font-size: to-unit(13px);
    font-weight: 400;
    line-height: rhythm(1);

    &__item {
        & + & {
            padding-left: 1em;
        }
    }
}

.page-intro {
    position: relative;
    padding: rhythm(4) rhythm(2) rhythm(2);
    &__image {
        position: relative;
        top: rhythm(-2);
        left: rhythm(-2);
        float: left;
        width: rhythm(5);
        height: rhythm(5);
        margin-right: rhythm(-1);
        margin-bottom: rhythm(-2.5);
    }
    &__content {
        padding-bottom: rhythm(1);
    }
    &__text {
        font-weight: 400;
    }
    &__link {
        position: relative;
        .icn {
            position: absolute;
            top: .65em;
            right: 100%;
            width: rhythm(2);
            text-align: center;
        }
    }
}

.page-footer {
    padding: rhythm(4) rhythm(2) rhythm(1);
    background-color: $color-body;
    color: $color-neutral-lightest-grey;
    &__details {
        padding-top: rhythm(2);
    }
    dt {
        margin-top: 2em;
    }
    dd {
        font-weight: 400;
    }
    .btn--sleak {
        transition: padding 600ms ease-out, border-color 600ms ease-out;
        border-color: rgba($color-neutral-lightest-grey, .6);
        &:hover,
        &:focus {
            padding: rhythm(.5) rhythm(2);
            border-color: $color-neutral-lightest-grey;
        }
    }
}

.page-theme {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $color-accent;
    // transition: background-color 300ms ease-out, color 300ms ease-out;
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: inherit;
    }
    &::before {
    }
    &::after {
        top: rhythm(9);
        left: rhythm(21);
        right: 0;
        height: rhythm(4);
        background-color: $white;
    }
}

.page-wrapper {
    background-color: $white;
    padding-bottom: rhythm(1);
}

.post {
    p {
        margin-bottom: 2em;
    }
    &__title {
        margin: rhythm(1) rhythm(2);
        font-size: to-unit(24px);
    }
    &__heading,
    &__subheading {
        margin-top: 1.5em;
    }
    &__intro {
        font-weight: 200;
        margin-bottom: 2em;
    }
    &__main,
    &__aside {
        padding: 0 rhythm(2);
    }
    &__main {
        font-weight: 400;
    }
    &__signature {
        padding-top: 1em;
    }
    &__grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        margin: rhythm(1) 0;
        .post__image {
            display: flex;
            flex: 0 0 auto;
            border-right: 1px solid $white;
            border-left: 1px solid $white;
            border-bottom: 2px solid $white;
            &:nth-child(even) {
                border-right: 0;
            }
            &:nth-child(odd) {
                border-left: 0;
            }
        }
    }

    &__body {
        .img {
            display: inline-block;
            line-height: 0;
            max-width: rhythm(20)
        }
        .img-s,
        .img-p {
            max-width: rhythm(7);
        }
        .img-s,
        .img-l {
            max-height: rhythm(7);
        }
        .img-banner {
            position: relative;
            img {
                display: block;
                margin: rhythm(1) rhythm(-2);
                max-width: rhythm(24);
            }
        }
    }
}

.post-fragment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__date {
        display: none;
        margin: 1em auto;
    }
    &__image {
        width: rhythm(6);
        height: rhythm(6);
        margin: 0 rhythm(1);
    }
    &__body {
        flex: 0 0 rhythm(14);
        margin-top: rhythm(1);
    }
    &__title {
        font-size: to-unit(16px);
    }

    &--featured {
        margin: 0 rhythm(-1);
        width: rhythm(24);

        .tag-cloud {
            position: absolute;
            top: rhythm(4);
            right: 100%;
            padding-top: 1em;
            text-align: right;
        }
    }
    &--featured & {

        &__image {
            flex: 1 0 100%;
            margin: 0 rhythm(-1);
            width: auto;
            height: auto;
        }
        &__body {
            flex: 0 0 auto;
            position: relative;
            top: rhythm(-4);
            left: rhythm(8);
            margin: 0 0 rhythm(-2) 0;
            width: rhythm(15);
            min-height: rhythm(5);
            padding: rhythm(1) rhythm(1) rhythm(1) rhythm(1);
            background-color: $white;
        }
        &__title {
            font-size: to-unit(20px);
        }
        &__standfirst {
            margin: 1em auto rhythm(-3);
            font-size: to-unit(14px);
        }
        &__meta {
            padding-top: 1em;
            width: rhythm(8);
            text-align: right;
            line-height: 1.2;
        }
    }
}

.post-grid {

    /*
     * 1. Will likely be a list, so reset it…
     */
    list-style: none; /* 1 */
    margin: auto rhythm(1);
    padding: 0;
    &__item {
        margin-bottom: rhythm(1);
    }

    &__item--stretch {
        flex: 1 0 100%;
        margin-bottom: rhythm(2);
    }
}

.post-list {

    width: rhythm(16);
    margin: auto;
    padding: rhythm(2) 0;

    &__title {
        margin-bottom: rhythm(2);
        padding: rhythm(1) 0;
        border-bottom: 1px solid $color-neutral-lightest-grey;
        text-align: center;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {}
    &__item-title {
        font-weight: 400;
        font-size: to-unit(14px);
        margin-top: rhythm(1);
    }
}

.project-hero {
    position: relative;
    &__image {
        position: relative;
        width: rhythm(24);
        height: rhythm(29);
        background-color: $white;
        overflow: hidden;
        /*
        background: url('/assets/images/project-hero__image.jpg') no-repeat center;
        background-size: cover;
        object-fit: cover;
        */
        img {
            min-width: 101%;
            min-height: 101%;
            object-fit: cover;
            display: block;
        }
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
        }
        &::before {
            left: 0;
            width: rhythm(21);
            min-height: rhythm(3);
            top: rhythm(27);
            background-color: inherit;
        }
        &::after {
            z-index: 1;
            top: rhythm(2);
            left: rhythm(21);
            width: rhythm(6);
            height: rhythm(29);
            background-color: rgba(0,0,0,.2);
            box-shadow: inset 0 0 20px $color-box-shadow;
        }
    }
    &__next {
        z-index: 1;
        position: absolute;
        top: rhythm(27);
        left: rhythm(21);
    }

    /*
        1. Make sure it sits above the image mask
     */
    &__text {
        position: relative; /* 1 */
        z-index: 1; /* 1 */
        top: rhythm(-1);
        width: rhythm(21);
        padding: 0 rhythm(1) 0 rhythm(2);
        font-size: to-unit(13px);
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        left: -999em;
        top: -999em;
    }
}

.project-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: rhythm(24);
    width: auto;
    height: rhythm(31);
    overflow-x: auto;
    &--parent,
    &--child {
        display: static;
    }
    &-wrapper {
        position: relative;
    }
    &__item {
        position: relative;
        height: rhythm(31);
    }
    &__card {
        position: relative;
        background: $color-neutral-lightest-grey;
        width: rhythm(20);
        padding: rhythm(1) 0 rhythm(1) rhythm(3);
    }
    &__image {
        position: relative;
        width: auto;
        height: rhythm(31);
        background-color: $white;
        overflow: hidden;
        /*
        background: url('/assets/images/project-hero__image.jpg') no-repeat center;
        background-size: cover;
        object-fit: cover;
        */
        img {
            min-width: 101%;
            min-height: 101%;
            object-fit: cover;
            display: block;
        }
    }
    &__prev,
    &__next {
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: rhythm(3);

        .icn-slider {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: rhythm(3);
            height: rhythm(3);
            background: rgba($white,.2);
            text-align: center;
        }
    }
    &__prev {
        left: 0;
        .icn-slider {
            background: none;
        }
    }
    &__next {
        right: 0;
        .icn-slider {
            background: none;
        }
    }

    .slick-slide {
    	margin: 0 rhythm(1) 0 0;
        &:last-child {
            margin: 0;
        }
    }
    .slick-list {
    	margin: 0 rhythm(-1) 0 0;
    }

}

.sampler {
    &__header {
        margin: rhythm(2);
        padding-top: rhythm(2);
        border-top: 1px solid $color-neutral-lightest-grey;
        font-weight: 300;
    }
    &__payoff {
        font-size: to-unit(36px);
    }
    &__content {
    }
    .post-grid {
        &__item {
            margin-bottom: rhythm(2);
        }
    }
    .post-fragment {
        &__image {
            width: rhythm(5);
            height: rhythm(5);
        }
        &__body {
            margin-top: 0;
        }
    }
}

.tag-cloud {
    /*
     * 1. Will likely be a list, so reset it…
     */
    list-style: none; /* 1 */
    margin: 0;
    padding: 0;
    line-height: 1;
    &__item {
        display: inline;
    }

}
