// min-width: 1024px
$breakpoint: $gt-small-desktop;
$grid: get-grid($breakpoint, $grids);
$columns: get-grid-property("columns", $grid);
$rhythm: get-grid-property("rhythm", $grid);
@include breakpoint($breakpoint) {


    /* Utility Styling */

    .txt-intro {
        font-size: to-unit(16px);
    }
    .txt-meta {
        font-size: to-unit(14px);
    }
    .txt-heading {
        font-size: to-unit(18px);
    }
    .txt-title {
        font-size: to-unit(50px);
    }
    .txt-title-section {
        &--drop {
            padding-top: .3em;
        }
    }
    .txt-header {
        font-size: to-unit(18px);
    }


    /* Component styling */

    .author-info {
        align-self: flex-end;
        flex-direction: column;
        margin-top: 0;
        width: auto;
        &__image {
            width: rhythm(7);
        }
        &__text {
            padding-left: 0;
        }
    }

    .input {

        /*
         * 1. Chrome/Opera/Safari
         * 2. Firefox 19+
         * 3. IE 10+
         * 4. Firefox 18-
         */

        padding: 0 rhythm(1);
        height: rhythm(1);
        line-height: rhythm(1);

        &--textarea {
            &:focus {
                height: rhythm(10);
            }
        }
    }

    .form {
        &__row {
            margin-top: rhythm(1);
        }
    }

    .btn {
        padding: rhythm(.5) rhythm(4);
        line-height: rhythm(1);
        &--sleak {
            padding: 0 rhythm(1);
        }
    }

    .btn-shortcut {
        width: rhythm(2);
        height: rhythm(2);
        line-height: rhythm(2);
        font-size: to-unit(20px);
    }

    .masthead {

        margin: 0 rhythm(1);
        padding-top: rhythm(3);
        height: 0;

        &__header {
            position: absolute;
            top: rhythm(2);
            font-size: to-unit(50px);
        }
        &__payoff {
            display: block;
            // color: $color-neutral-darkest-grey;
            // margin-top: 1em;
            padding: 1.6em 0;
            font-family: $bitter-family;
            font-weight: 400;
            font-size: to-unit(14px,1em,50px);

        }
        &--section {
            height: rhythm(7);
            padding-top: rhythm(2);
        }
        &--section &__title {
            &.txt-title {
                font-size: rhythm(1.5);
            }
        }
        &--section &__header {
            position: static;
        }
        &--section &__menu {
            top: rhythm(-2);
            line-height: rhythm(2);
        }
    }

    .menu {
        line-height: rhythm(1);
        padding: rhythm(1) 0;
        font-size: to-unit(14px);

    }

    .page-intro {
        position: absolute;
        top: rhythm(8);
        left: rhythm(1);
        width: rhythm(10);
        padding: 0;
        margin: 0;
        &__image {
            position: relative;
            left: rhythm(-1);
            width: rhythm(3);
            height: rhythm(3);
        }
        &__content {
            padding-bottom: 1em;
        }
        &__text {
            font-size: to-unit(18px);
            font-family: $overtherainbow-family;
            &:after {
                content: "\003A\0029"
            }
        }
        &__link {
            position: relative;
            .icn {
                width: rhythm(1);
            }
        }
    }

    .page-footer {
        padding: rhythm(4) rhythm(5) rhythm(1);
        .txt-title {
            font-size: 4vw;
        }
        &__body {
            position: relative;
            top: 0;
            float: right;
            width: rhythm(14);
        }
    }

    .page-theme {
        &::before,
        &::after {
            width: rhythm(3);
        }
        &::before {
            top: rhythm(4);
            background-color: inherit;
            right: 100%;
            height: rhythm(14);
        }
        &::after {
            top: rhythm(2);
            left: 100%;
            height: rhythm(2);
            background-color: $color-background;
        }
    }

    .page-wrapper {
        position: relative;
        margin: rhythm(2) auto rhythm(-2);
        width: rhythm(30);
        &::after {
            pointer-events: none;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: 0 0 20px $color-box-shadow;
        }
    }

    .post {
        &__title {
            margin: rhythm(1) rhythm(1) rhythm(1) rhythm(10);
            font-size: to-unit(48px);
        }
        &__body {
            display: flex;
            flex-direction: row-reverse;
        }
        &__main {
            position: relative;
            flex: 0 0 rhythm(21);
            padding: 0 rhythm(1);
            font-size: to-unit(18px);
        }
        &__aside {
            padding: 0;
            // flex: 0 0 rhythm(9);
            padding-left: rhythm(2);

            /*
             * Inner layout
             */
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }
        &__heading,
        &__subheading {
            margin-top: 1.5em;
        }
        &__heading {
            font-size: to-unit(24px, 1em, 18px);
        }
        &__details {
            padding-top: rhythm(2);
            top: rhythm(1);
        }
        &__content {}
        &__intro {
            &,
            & p {
                margin-top: 0;
                margin-bottom: 1em;
                font-weight: 200;
            }
        }

        &__grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: baseline;
            margin: rhythm(1) 0;
            .post__image {
                display: flex;
                flex: 0 0 auto;
                border-right: 1px solid $white;
                border-left: 1px solid $white;
                border-bottom: 2px solid $white;
                &:nth-child(even) {
                    border-right: 0;
                }
                &:nth-child(odd) {
                    border-left: 0;
                }
            }
        }
        &__drop {
            position: absolute;
            right: 100%;
            width: rhythm(7);
            .img {
                max-width: rhythm(7)
            }
            .img-s,
            .img-p {
                max-width: rhythm(7);
                max-width: rhythm(7);
            }
            .img-s,
            .img-l {
                max-width: rhythm(7);
            }
        }
        &__body {
            .img {
                max-width: rhythm(20)
            }
            .img-s,
            .img-p {
                max-width: rhythm(7);
            }
            .img-s,
            .img-l {
                max-height: rhythm(7);
            }
            .img-banner {
                position: relative;
                display: block;
                margin: rhythm(1) rhythm(-10) rhythm(1);
                max-width: rhythm(30);
                img {
                    display: block;
                    margin: 0;
                    max-width: 100%;
                }
                .txt-caption {
                    position: absolute;
                    bottom: 100%;
                    width: rhythm(9);
                    margin-bottom: rhythm(1);
                    padding: 0 0 0 rhythm(1);
                }
            }

        }
        // &>.txt-signature {
        //     position: absolute;
        //     top: 100%;
        // }
    }

    .post-fragment {

        &__image {
            // max-width: rhythm(8);
            width: rhythm(8);
            height: rhythm(8);
            // flex-basis: rhythm(8);
            flex-basis: auto;
        }
        &__body {
        }
        &__title {
            font-size: to-unit(24px);
        }
        &--featured {
            margin: 0 rhythm(-2);
            width: rhythm(30);

            .tag-cloud {
                top: rhythm(3);
                left: 100%;
                right: auto;
                text-align: left;
            }
        }
        &--featured & {

            &__image {
                margin: 0;
            }
            &__body {

                top: rhythm(-3);
                left:  rhythm(1);
                margin-bottom: 0;
                // flex: 0 0 rhythm(13);
                width: rhythm(18);
            }
            &__title {
                font-size: to-unit(30px);
            }
            &__standfirst {
                margin: 1em auto rhythm(-3);
                font-size: to-unit(14px);
            }
            &__date {
                margin-top: 0;
            }
        }
        // &--featured {
        //     width: rhythm(30);
        //     // padding-bottom: rhythm(1);
        //     flex-direction: row;
        //     margin: 0 rhythm(-2);
        // }
        // &--featured & {
        //
        //     &__image,
        //     &__body {
        //         width: rhythm(15);
        //         flex: auto;
        //     }
        //     &__title {
        //         font-size: to-unit(36px);
        //     }
        //
        //     &__image {
        //         // padding: 0;
        //         margin: 0;
        //     }
        //     &__body {
        //         position: static;
        //         // width: rhythm(15);
        //
        //         // top: 0;
        //         flex: auto;
        //         align-self: end;
        //         padding: 0 rhythm(1);
        //
        //         .tag-cloud {
        //             position: static;
        //             li {
        //                 display: inline;
        //             }
        //         }
        //     }
        //     &__standfirst {
        //         margin: 1em 0 0;
        //         font-size: to-unit(18px);
        //     }
        // }
    }

    .post-grid {

        margin: auto rhythm(2);

        &__item {
            flex: 0 0 rhythm(8);
            margin-bottom: rhythm(1);
        }
        &__item--stretch {
            flex: 1 0 100%;
            margin-bottom: rhythm(1);
        }
    }

    .post-list {

        width: rhythm(16);
        padding: rhythm(2) 0;

        &__title {
            margin-bottom: rhythm(2);
            padding: rhythm(1) 0;
            font-size: to-unit(20px);
        }

        &__item-title {
            margin-top: rhythm(1);
            font-size: to-unit(24px);
        }
    }

    .project-hero {
        margin-left: rhythm(12);
        width: rhythm(21);
        &__image {
            height: rhythm(15);
            width: rhythm(21);
            &::before {
                top: rhythm(13);
                left: rhythm(-1);
                width: rhythm(19);
                height: rhythm(3);
            }
            &::after {
                width: rhythm(3);
                height: rhythm(17);
            }
        }
        &__text {
            top: rhythm(-1.5);
            width: rhythm(18);
            padding: 0 rhythm(1) 0 rhythm(1);
            font-size: to-unit(16px);
        }
        &__next {
            position: absolute;
            top: rhythm(13);
            left: rhythm(18);
        }
    }

    .project-slider {
        min-width: rhythm(30);
        height: rhythm(16);
        &-wrapper {
        }
        &__item {
            height: rhythm(16);
        }
        &__card {
            width: rhythm(11);
            padding: rhythm(1) 0 rhythm(1) rhythm(2);
        }
        &__image {
            height: rhythm(16);
        }
        &__prev,
        &__next {
            width: rhythm(2);
            .icn-slider {
                width: rhythm(2);
                height: rhythm(2);
            }
        }
        &__prev {
            left: rhythm(-2);
        }
        &__next {
            right: rhythm(-2);
        }
        .slick-slide {
            margin: 0 rhythm(1) 0 0;
        }
        .slick-list {
            margin: 0 rhythm(-1) 0 0;
        }
    }


}
