$breakpoint: $gt-small-desktop;
$grid: get-grid($breakpoint, $grids);
$columns: get-grid-property("columns", $grid);
$rhythm: get-grid-property("rhythm", $grid);
@include breakpoint($breakpoint) {


    /* Utility Styling */

    .txt-meta {
        font-size: to-unit(14px);
    }
    .txt-header {
        font-size: to-unit(18px);
    }
    .txt-title {
        font-size: to-unit(50px);
    }


    /* Component styling */

    .btn {
        padding: rhythm(.5) rhythm(4);
        line-height: rhythm(1);
        &--sleak {
            padding: rhythm(.5) rhythm(1);
        }
    }

    .btn-shortcut {
        width: rhythm(2);
        height: rhythm(2);
        line-height: rhythm(2);
        font-size: to-unit(20px);
    }

    .masthead {
        margin: 0 rhythm(1) 0 rhythm(1);
        padding-top: 0;
        // width: rhythm(21);
        height: rhythm(3);
        &__header {
            position: absolute;
            top: rhythm(2);
        }
        &__payoff {
            display: block;
            font-size: to-unit(14px);
            margin-top: 1em;
        }
        &__menu {
            font-size: to-unit(14px);
            line-height: rhythm(3);
        }
    }

    .page-intro {
        position: absolute;
        top: rhythm(8);
        left: rhythm(1);
        width: rhythm(10);
        padding: 0;
        margin: 0;
        &__image {
            position: relative;
            left: rhythm(-1);
            width: rhythm(3);
            height: rhythm(3);
        }
        &__content {
            padding-bottom: 1em;
        }
        &__text {
            font-size: to-unit(18px);
            font-family: $overtherainbow-family;
            &:after {
                content: "\003A\0029"
            }
        }
        &__link {
            position: relative;
            .icn {
                width: rhythm(1);
            }
        }
    }

    .page-theme {
        &::before,
        &::after {
            width: rhythm(3);
        }
        &::before {
            top: rhythm(4);
            background-color: inherit;
            right: 100%;
            height: rhythm(14);
        }
        &::after {
            top: rhythm(2);
            left: 100%;
            height: rhythm(3);
            background-color: $color-background;
        }
    }

    .page-wrapper {
        position: relative;
        margin: rhythm(2) auto rhythm(-2);
        width: rhythm(30);
        &::after {
            pointer-events: none;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: 0 0 20px $color-box-shadow;
        }
    }

    .project-hero {
        margin-left: rhythm(12);
        &__image {
            height: rhythm(15);
            width: rhythm(21);
            &::before {
                top: rhythm(13);
                left: rhythm(-1);
                width: rhythm(19);
                height: rhythm(3);
            }
            &::after {
                width: rhythm(3);
                height: rhythm(17);
            }
        }
        &__text {
            top: rhythm(-1.5);
            width: rhythm(18);
            padding: 0 rhythm(1) 0 rhythm(1);
            font-size: to-unit(16px);
        }
        &__next {
            position: absolute;
            top: rhythm(13);
            left: rhythm(18);
        }
    }

    .project-slider {
        min-width: rhythm(30);
        height: rhythm(16);
        &-wrapper {
        }
        &__item {
            height: rhythm(16);
        }
        &__card {
            width: rhythm(11);
            padding: rhythm(1) 0 rhythm(1) rhythm(2);
        }
        &__image {
            height: rhythm(16);
        }
        &__prev,
        &__next {
            width: rhythm(2);
            .icn-slider {
                width: rhythm(2);
                height: rhythm(2);
            }
        }
        &__prev {
            left: rhythm(-2);
        }
        &__next {
            right: rhythm(-2);
        }
        .slick-slide {
            margin: 0 rhythm(1) 0 0;
        }
        .slick-list {
            margin: 0 rhythm(-1) 0 0;
        }
    }


}
