@include breakpoint($gt-large-desktop) {

    .btn-shortcut {
        font-size: to-unit(24px);
    }

    .masthead {
        &__title {
            font-size: to-unit(48px);
        }
        &__payoff {
            font-size: to-unit(36px);
        }
    }

    .page-footer {
        padding-top: rhythm(4);
        &__content {
            margin: 0;
        }
        &__quote {
            margin: 0 rhythm(8);
            font-size: to-unit(48px);
        }
        &__intro {
            margin: rhythm(1) rhythm(10) rhythm(2);
            font-size: to-unit(18px);
        }
        dt {
            font-size: to-unit(14px);
        }
    }

    .author-about {
        &__content {
            padding: rhythm(1) rhythm(2);
        }
        &__text {
            font-size: to-unit(24px);
        }
    }
}
