// min-width: 1280px
@include breakpoint($gt-medium-desktop) {


    /* Utility Styling */

    .txt-intro {
        font-size: to-unit(18px);
    }
    .txt-meta {
        font-size: to-unit(14px);
    }
    .txt-title {
        font-size: to-unit(56px);
    }


    /* Component styling */

    .author-info {
        &__image {
            width: rhythm(5);
        }
    }

    // .masthead {
    //     margin: 0 rhythm(1) 0 rhythm(1);
    //     // padding-top: 0;
    //     height: rhythm(3);
    //     &__header {
    //         position: absolute;
    //         top: rhythm(2.2);
    //     }
    //     &__payoff {
    //         display: block;
    //         font-size: to-unit(16px);
    //         margin-top: 1em;
    //     }
    //     &__menu {
    //         font-size: to-unit(14px);
    //         line-height: rhythm(2);
    //     }
    //     &--section {
    //         height: rhythm(6);
    //     }
    // }

    .masthead {
        &__title {
            &.txt-title {
                font-size: rhythm(1.5);
            }
        }
        &--section {
            height: rhythm(7);
            padding-top: rhythm(1);
        }
    }

    .page-intro {
        position: absolute;
        left: rhythm(3);
        width: rhythm(7);
        &__image {
            position: absolute;
            left: rhythm(-5);
            width: rhythm(4);
            height: rhythm(4);
            z-index: 1;
        }
        &__text {
            font-size: to-unit(20px);
        }
    }

    .page-footer {

    }

    .page-theme {
        &::before,
        &::after {
            width: rhythm(4);
        }
        &::before {
            top: rhythm(4);
            background-color: inherit;
            right: 100%;
            height: rhythm(13);
        }
        &::after {
            top: rhythm(1);
            left: 100%;
            height: rhythm(3);
            background-color: $color-background;
        }
    }

    .page-wrapper {
        position: relative;
        margin: rhythm(2) auto rhythm(-2);
        width: rhythm(28);
    }

    .post-list {

        margin: auto;
        width: rhythm(12);

        &__title {
            font-size: to-unit(22px);
        }
        &__item-title {
            font-size: to-unit(28px);
        }
    }

    .project-hero {
        margin-left: rhythm(12);
        width: rhythm(20);
        &__image {
            height: rhythm(15);
            width: rhythm(20);
            &::before {
                top: rhythm(13);
                left: rhythm(-1);
                width: rhythm(17);
                height: rhythm(3);
            }
            &::after {
                width: rhythm(4);
                height: rhythm(17);
            }
        }
        &__text {
            top: rhythm(-1.5);
            width: rhythm(16);
            padding: 0 rhythm(1) 0 rhythm(1);
            font-size: to-unit(16px);
        }
        &__next {
            position: absolute;
            top: rhythm(13);
            left: rhythm(16);
        }
    }

    .project-slider {
        min-width: rhythm(28);
        height: rhythm(15);
        &-wrapper {
        }
        &__item {
            height: rhythm(15);
        }
        &__card {
            width: rhythm(11);
            padding: rhythm(1) 0 rhythm(1) rhythm(2);
        }
        &__image {
            height: rhythm(15);
        }
        &__prev,
        &__next {
            width: rhythm(2);
            .icn-slider {
                width: rhythm(2);
                height: rhythm(2);
            }
        }
        &__prev {
            left: rhythm(-2);
        }
        &__next {
            right: rhythm(-2);
        }
        .slick-slide {
        	margin: 0 rhythm(1) 0 0;
        }
        .slick-list {
        	margin: 0 rhythm(-1) 0 0;
        }
    }

    .post-fragment {

        &__title {
            font-size: to-unit(24px);
        }
        &__body {
            flex-basis: auto;
        }
        &__standfirst {
            font-size: to-unit(14px);
        }
        &__image {
            width: rhythm(5);
            height:  rhythm(5);
            flex-basis: auto;
        }
        &--featured {
            display: block;
            position: relative;
            width: rhythm(15);
            margin-left: rhythm(-10);

            .tag-cloud {
                position: static;
            }
        }
        &--featured & {
            &__image,
            &__body {
                flex: none;
            }
            &__title {
                font-size: to-unit(32px);
            }
            &__image {
                width: 100%;
                height: auto;
            }
            &__body {
                position: absolute;
                top: 100%;
                width: rhythm(8);
                left: rhythm(1);
                padding: rhythm(1);
                margin-top: rhythm(-2);
            }
            &__standfirst {
                margin: 1em auto;
                font-size: to-unit(18px);
            }
        }
    }

    .post-grid {

        margin: auto rhythm(1) auto rhythm(10);

        &__item,
        &__item--stretch {

            position: relative;
            // flex-basis: rhythm(5);
            width: rhythm(5);
            flex: 0 1 auto;
        }
        &__item--stretch {
            margin-bottom: rhythm(1);
        }
        // &__item-stretch {
        //     width: rhythm(5);
        //     overflow: hidden;
        //     flex: 0 0 rhythm(5);
        // }
    }
}
