@include breakpoint($gt-medium-desktop) {


    /* Utility Styling */

    .txt-meta {
        font-size: to-unit(14px);
    }
    // .txt-heading {
    //     font-size: to-unit(18px);
    // }
    .txt-title {
        font-size: to-unit(56px);
    }


    /* Component styling */

    .masthead {
        margin: 0 rhythm(1) 0 rhythm(1);
        padding-top: 0;
        height: rhythm(2);
        &__header {
            position: absolute;
            top: rhythm(2.2);
        }
        &__payoff {
            display: block;
            font-size: to-unit(16px);
            margin-top: 1em;
        }
        &__menu {
            font-size: to-unit(14px);
            line-height: rhythm(2);
        }
    }

    .page-intro {
        position: absolute;
        left: rhythm(3);
        width: rhythm(7);
        &__image {
            position: absolute;
            left: rhythm(-5);
            width: rhythm(4);
            height: rhythm(4);
            z-index: 1;
        }
        &__text {
            font-size: to-unit(20px);
        }
    }

    .page-theme {
        &::before,
        &::after {
            width: rhythm(4);
        }
        &::before {
            top: rhythm(4);
            background-color: inherit;
            right: 100%;
            height: rhythm(13);
        }
        &::after {
            top: rhythm(1);
            left: 100%;
            height: rhythm(3);
            background-color: $color-background;
        }
    }

    .page-wrapper {
        position: relative;
        margin: rhythm(2) auto rhythm(-2);
        width: rhythm(28);
    }

    .project-hero {
        margin-left: rhythm(12);
        &__image {
            height: rhythm(15);
            width: rhythm(20);
            &::before {
                top: rhythm(13);
                left: rhythm(-1);
                width: rhythm(17);
                height: rhythm(3);
            }
            &::after {
                width: rhythm(4);
                height: rhythm(17);
            }
        }
        &__text {
            top: rhythm(-1.5);
            width: rhythm(16);
            padding: 0 rhythm(1) 0 rhythm(1);
            font-size: to-unit(16px);
        }
        &__next {
            position: absolute;
            top: rhythm(13);
            left: rhythm(16);
        }
    }

    .project-slider {
        min-width: rhythm(28);
        height: rhythm(15);
        &-wrapper {
        }
        &__item {
            height: rhythm(15);
        }
        &__card {
            width: rhythm(11);
            padding: rhythm(1) 0 rhythm(1) rhythm(2);
        }
        &__image {
            height: rhythm(15);
        }
        &__prev,
        &__next {
            width: rhythm(2);
            .icn-slider {
                width: rhythm(2);
                height: rhythm(2);
            }
        }
        &__prev {
            left: rhythm(-2);
        }
        &__next {
            right: rhythm(-2);
        }
        .slick-slide {
        	margin: 0 rhythm(1) 0 0;
        }
        .slick-list {
        	margin: 0 rhythm(-1) 0 0;
        }
    }
}
