$breakpoint: $gt-small-desktop;
$grid: get-grid($breakpoint, $grids);
$columns: get-grid-property("columns", $grid);
$rhythm: get-grid-property("rhythm", $grid);
@include breakpoint($breakpoint) {


    /* Utility Styling */

    .txt-meta {
        font-size: to-unit(14px);
    }
    .txt-heading {
        font-size: to-unit(18px);
    }
    .txt-title {
        font-size: to-unit(50px);
        &--home {
            // font-size: to-unit(48px);
        }
    }
    .txt-title-section {
        &--drop {
            padding-top: .3em;
        }
    }
    .txt-header {
        font-size: to-unit(18px);
    }

    // .lt-split {
    //     display: flex;
    //     flex-direction: row;
    //     &__aside {
    //
    //     }
    //     &__main {
    //
    //     }
    // }


    /* Component styling */

    .btn {
        padding: rhythm(.5) rhythm(4);
        line-height: rhythm(1);
        &--sleak {
            padding: rhythm(.5) rhythm(1);
        }
    }

    .btn-shortcut {
        width: rhythm(2);
        height: rhythm(2);
        line-height: rhythm(2);
        font-size: to-unit(20px);
    }

    .masthead {
        margin: 0 rhythm(1) 0 rhythm(1);
        padding-top: 0;
        // width: rhythm(21);
        height: rhythm(3);
        &--section {
            height: rhythm(4);
            padding-top: rhythm(1);
            margin-bottom: rhythm(3);
        }
        &--section &__header {
            position: static;
        }
        &--section &__menu {
            top: rhythm(-2);
            line-height: rhythm(2);
        }
        &__header {
            position: absolute;
            top: rhythm(2);
        }
        &__payoff {
            display: block;
            font-size: to-unit(14px);
            margin-top: 1em;
        }
        &__menu {
            font-size: to-unit(16px);
            line-height: rhythm(3);
        }
    }

    .page-intro {
        position: absolute;
        top: rhythm(8);
        left: rhythm(1);
        width: rhythm(10);
        padding: 0;
        margin: 0;
        &__image {
            position: relative;
            left: rhythm(-1);
            width: rhythm(3);
            height: rhythm(3);
        }
        &__content {
            padding-bottom: 1em;
        }
        &__text {
            font-size: to-unit(18px);
            font-family: $overtherainbow-family;
            &:after {
                content: "\003A\0029"
            }
        }
        &__link {
            position: relative;
            .icn {
                width: rhythm(1);
            }
        }
    }

    .page-theme {
        &::before,
        &::after {
            width: rhythm(3);
        }
        &::before {
            top: rhythm(4);
            background-color: inherit;
            right: 100%;
            height: rhythm(14);
        }
        &::after {
            top: rhythm(2);
            left: 100%;
            height: rhythm(3);
            background-color: $color-background;
        }
    }

    .page-wrapper {
        position: relative;
        margin: rhythm(2) auto rhythm(-2);
        width: rhythm(30);
        &::after {
            pointer-events: none;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: 0 0 20px $color-box-shadow;
        }
    }

    .post {
        &__title {
            margin: rhythm(1) rhythm(3);
            font-size: to-unit(36px);
        }
        &__body {

            /* Layout */
            display: flex;
            flex-direction: row-reverse;
            width: rhythm(30);

            font-size: to-unit(18px);
        }
        &__main {
            position: relative;
            flex: 0 0 rhythm(22);
            margin: 0;
            padding: 0 rhythm(1);
            font-weight: 400;
        }
        &__sidebar {
            flex: 0 0 rhythm(8);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        &__heading,
        &__subheading {
            margin-top: 1.5em;
        }
        &__heading {
            font-size: to-unit(24px, 1em, 18px);
        }
        &__details {
            top: rhythm(1);
        }
        &__content {}
        &__intro {
            &,
            & p {
                margin-top: rhythm(1);
                margin-bottom: 1em;
                font-weight: 200;
            }
        }

        &__grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: baseline;
            margin: rhythm(1) 0;
            .post__image {
                display: flex;
                flex: 0 0 auto;
                border-right: 1px solid $white;
                border-left: 1px solid $white;
                border-bottom: 2px solid $white;
                &:nth-child(even) {
                    border-right: 0;
                }
                &:nth-child(odd) {
                    border-left: 0;
                }
            }
        }
        &__drop {
            position: absolute;
            right: 100%;
            width: rhythm(7);
            .img {
                max-width: rhythm(7)
            }
            .img-s,
            .img-p {
                max-width: rhythm(7);
                max-width: rhythm(7);
            }
            .img-s,
            .img-l {
                max-width: rhythm(7);
            }
        }
        .img {
            max-width: rhythm(20)
        }
        .img-s,
        .img-p {
            max-width: rhythm(7);
        }
        .img-s,
        .img-l {
            max-height: rhythm(7);
        }
        .img-banner {
            position: relative;
            display: block;
            margin: rhythm(1) rhythm(-8) rhythm(1);
            max-width: rhythm(28);
            img {
                display: block;
                margin: 0;
                max-width: 100%;
            }
            .txt-caption {
                position: absolute;
                width: rhythm(7);
                margin-top: rhythm(1);
            }
        }
    }


    .project-hero {
        margin-left: rhythm(12);
        &__image {
            height: rhythm(15);
            width: rhythm(21);
            &::before {
                top: rhythm(13);
                left: rhythm(-1);
                width: rhythm(19);
                height: rhythm(3);
            }
            &::after {
                width: rhythm(3);
                height: rhythm(17);
            }
        }
        &__text {
            top: rhythm(-1.5);
            width: rhythm(18);
            padding: 0 rhythm(1) 0 rhythm(1);
            font-size: to-unit(16px);
        }
        &__next {
            position: absolute;
            top: rhythm(13);
            left: rhythm(18);
        }
    }

    .project-slider {
        min-width: rhythm(30);
        height: rhythm(16);
        &-wrapper {
        }
        &__item {
            height: rhythm(16);
        }
        &__card {
            width: rhythm(11);
            padding: rhythm(1) 0 rhythm(1) rhythm(2);
        }
        &__image {
            height: rhythm(16);
        }
        &__prev,
        &__next {
            width: rhythm(2);
            .icn-slider {
                width: rhythm(2);
                height: rhythm(2);
            }
        }
        &__prev {
            left: rhythm(-2);
        }
        &__next {
            right: rhythm(-2);
        }
        .slick-slide {
            margin: 0 rhythm(1) 0 0;
        }
        .slick-list {
            margin: 0 rhythm(-1) 0 0;
        }
    }


}
