<section class="page-footer">
    <div class="page-footer__content">

        <div class="lt-wrap">
            <h1 class="txt-title lt-wrap">
                <span class="lt-wrap__tight">Hallo,</span>
                <span class="lt-wrap__tight">hoe kan ik je</span>
                <span class="lt-wrap__loose">helpen?</span>
            </h1>
            <p class="lt-wrap lt-wrap--end txt-intro"><span>Ik ben heel benieuwd naar jouw verhaal en interieurwensen.  Bel of mail, dan kom ik een keer bij je langs voor een kennismaking. Vrijblijvend natuurlijk!<span></p>
        </div>

        <dl>
            <dt class="txt-meta">Telefoon</dt>
            <dd class="">
                <address>
                    +31 (06) 3104 7984
                </address>
            </dd>
            <dt class="txt-meta">Email</dt>
            <dd class="">
                <address>
                    babsgosgens@gmail.com
                </address>
            </dd>
        </dl>
        <form class="form" action="https://getform.io/f/928bfeff-6b05-4e7c-a369-3b383a28d44c" method="post">
            <div class="form__row">
                <input class="input" type="text" id="name" placeholder="Naam" required="required" />
                <label class="label is-narrative" for="name">Naam</label>
            </div>
            <div class="form__row">
                <input class="input" type="text" id="email" placeholder="Email" required="required" />
                <label class="label is-narrative" for="email">Email</label>
            </div>
            <div class="form__row">
                <input class="input" type="tel" id="tel" placeholder="Telefoon" required="required" />
                <label class="label is-narrative" for="tel">Telefoon</label>
            </div>
            <div class="form__row">
                <textarea class="input input--textarea" type="text" id="message" placeholder="Bericht" required="required"></textarea>
                <label class="label is-narrative" for="message">Bericht</label>
            </div>
            <div class="form__row txt-center">
                <button class="btn btn--sleak" type="submit">
                    <span class="btn__label txt-personal">Verzenden</span>
                </button>
            </div>
        </form>

        <div class="page-footer__details lt-stack lt-stack--row">
            <p class="lt-stack lt-stack__item">
                <small>© {{ 'now' | date: "%Y" }} - Babs Gösgens</small>
            </p>
            <ul class="lt-stack lt-stack__item lt-list lt-list--reset lt-stack lt-stack--row">
                <li class="lt-stack lt-stack__item">
                    <a href=""><small>Instagram</small></a>
                </li>
                <li class="lt-stack lt-stack__item">
                    <a href=""><small>Pinterest</small></a>
                </li>
            </ul>
        </div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script src="assets/javascript/main.js"></script>
