<div>
    <header class="project-slider__item project-slider__card card lt-stack">
        <div class="lt-stack__item">
            <p class="card__sub">Impressie</p>
            <h1 class="card__title  txt-title">Afrika in Nederland</h1>
            <dl class="card__details">
                <dt class="card__term">Jaar</dt>
                <dd class="card__data">2022</dd>
                <dd class="card__term">Context</dd>
                <dd class="card__data">Interieurontwerp</dd>
            </dl>
        </div>
        <div class="lt-stack__item card__info txt-meta">
            <p>
                Een modern apartement vol Afrikaanse kunst en bijzondere voorwerpen.
            </p>
        </div>
    </header>
</div>
{% for post in site.data.project.afrika-in-nederland %}
<div>
    <div class="project-slider__item">
        <figure class="project-slider__image">
            {% include image-sets/project-slider.html %}
            <figcaption class="project-hero__text">
                <p class="txt-personal">
                    {{ post.caption }}
                </p>
            </figcaption>
        </figure>
    </div>
</div>
{% endfor %}
