$icomoon-font-family: "entypo-subset" !default;
$icomoon-font-path: "../../assets/fonts" !default;

$icn-controller-fast-forward: "\e900";
$icn-chevron-down: "\e901";
$icn-chevron-right: "\e902";
$icn-chevron-thin-down: "\e903";
$icn-chevron-thin-right: "\e904";
$icn-mail: "\e905";
$icn-instagram: "\e906";
$icn-pinterest: "\e907";
