<!DOCTYPE html>
<html lang="nl" class="no-js fx{% if site.debug-grid %} debug-grid{% endif %}">

    {% include base/head.html %}

    <body class="page">
        <div class="page-wrapper" data-theme="#00f">
            <header class="masthead masthead--section u-root">
                <div class="masthead__header lt-wrap">
                    <h1 class="masthead__title txt-title lt-section-divider lt-wrap">
                        <span class="lt-wrap__tight">House of</span>
                        <span class="lt-wrap__loose">Hippo</span>
                        <span class="lt-wrap__end txt-title-section txt-title-section--drop txt-personal">{{ page.section }}</span>
                    </h1>
                </div>
                <nav class="masthead__menu menu">
                    {% for item in site.data.menu %}
                        <a href="{{ item.link }}" class="menu__item anchor__cloaked">{{ item.name }}</a>
                    {% endfor %}
                </nav>
            </header>

            <main>
                <ol class="post-grid">
                    <li class="post-grid__item post-grid__item--stretch">
                        <article class="post-fragment post-fragment--featured">
                            <figure class="post-fragment__image">
                                <img class="img" src="{{ 'assets/images/project-hero__image2.jpg' | relative_url }}">
                            </figure>
                            <div class="post-fragment__body">
                                <time class="post-fragment__date txt-meta">30 Juni 2022</time>
                                <h1 class="post-fragment__title txt-title">Eén entree, drie ontwerpen</h1>
                                <p class="post-fragment__standfirst txt-intro">Inspiratie opdoen voor ons interieur is nooit verkeerd, toch?! Maar waar haal je die inspiratie vandaan.. Welk interieur is jouw favoriet?</p>
                                <ul class="tag-cloud">
                                    <li><span class="txt-meta">#interieurontwerp</span></li>
                                    <li><span class="txt-meta">#interieurblogs</span></li>
                                    <li><span class="txt-meta">#styling</span></li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    <li class="post-grid__item">
                        <article class="post-fragment">
                            <figure class="post-fragment__image">
                                <img class="img img--cover" src="{{ 'assets/images/project-hero__image2.jpg' | relative_url }}">
                            </figure>
                            <div class="post-fragment__body">
                                <time class="post-fragment__date txt-meta">30 Juni 2022</time>
                                <h1 class="post-fragment__title txt-title">Eén entree, drie ontwerpen</h1>
                                <ul class="tag-cloud">
                                    <li class="tag-cloud__item"><span class="txt-meta">#interieurontwerp</span></li>
                                    <li class="tag-cloud__item"><span class="txt-meta">#interieurblogs</span></li>
                                    <li class="tag-cloud__item"><span class="txt-meta">#styling</span></li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    <li class="post-grid__item">
                        <article class="post-fragment">
                            <figure class="post-fragment__image">
                                <img class="img img--cover" src="{{ 'assets/images/post-list-image.jpg' | relative_url }}">
                            </figure>
                            <div class="post-fragment__body">
                                <time class="post-fragment__date txt-meta">30 Juni 2022</time>
                                <h1 class="post-fragment__title txt-title">Eén entree, drie ontwerpen</h1>
                                <ul class="tag-cloud">
                                    <li class="tag-cloud__item"><span class="txt-meta">#interieurontwerp</span></li>
                                    <li class="tag-cloud__item"><span class="txt-meta">#interieurblogs</span></li>
                                    <li class="tag-cloud__item"><span class="txt-meta">#styling</span></li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    <li class="post-grid__item">
                        <article class="post-fragment">
                            <figure class="post-fragment__image">
                                <img class="img img--cover" src="{{ 'assets/images/project-hero__image2.jpg' | relative_url }}">
                            </figure>
                            <div class="post-fragment__body">
                                <time class="post-fragment__date txt-meta">30 Juni 2022</time>
                                <h1 class="post-fragment__title txt-title">Eén entree, drie ontwerpen</h1>
                                <ul class="tag-cloud">
                                    <li class="tag-cloud__item"><span class="txt-meta">#interieurontwerp</span></li>
                                    <li class="tag-cloud__item"><span class="txt-meta">#interieurblogs</span></li>
                                    <li class="tag-cloud__item"><span class="txt-meta">#styling</span></li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    <li class="post-grid__item">
                        <article class="post-fragment">
                            <figure class="post-fragment__image">
                                <img class="img img--cover" src="{{ 'assets/images/project-hero__image3-medium.jpg' | relative_url }}">
                            </figure>
                            <div class="post-fragment__body">
                                <time class="post-fragment__date txt-meta">30 Juni 2022</time>
                                <h1 class="post-fragment__title txt-title">Eén entree, drie ontwerpen</h1>
                                <ul class="tag-cloud">
                                    <li class="tag-cloud__item"><span class="txt-meta">#interieurontwerp</span></li>
                                    <li class="tag-cloud__item"><span class="txt-meta">#interieurblogs</span></li>
                                    <li class="tag-cloud__item"><span class="txt-meta">#styling</span></li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    <li class="post-grid__item" />
                </ol>
            </main>



            <i class="page-frame is-no-pointer"></i>
        </div>

        {% include base/footer.html %}

    </body>
  </html>
