<!DOCTYPE html>
<html lang="nl" class="no-js fx{% if site.debug-grid %} debug-grid{% endif %}">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta name="theme-color" content="#FFF">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ page.meta.description | default: site.meta.description }}" />
        <meta name="keywords" content="{% if page.meta.keywords %}{{ page.meta.keywords | push: site.meta.keywords | join: ", " }}{% else %}{{ site.meta.keywords | join: ", " }}{% endif %}" />
        <meta name="author" content="{{ page.author | default: site.meta.author | join: ", " }}" />
        <meta name="robots" content="{{ page.meta.robots | default: site.meta.robots }}">

        <link rel="icon" type="image/x-icon" href="assets/images/favicon-16x16.ico" sizes="16x16">
        <link rel="canonical" href="{{ site.url }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@200;400&family=Over+the+Rainbow&display=swap" rel="stylesheet">
        <link href="assets/styles/screen.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    </head>

    <body class="page">
        <div class="page-frame is-no-pointer">
        </div>
        <div class="page-wrapper">
            <div class="masthead">
                <h1>
                    <span class="masthead__title" id="masthead-title">
                        {{ site.title }}
                    </span><span class="masthead__payoff txt-personal">
                        Interieur ontwerp &amp; advies
                    </span>
                </h1>
                <nav class="masthead__menu">
                    <span class="menu">
                        <a href="" class="menu__itemanchor__cloaked">Over mij</a>
                        <a href="" class="menu__itemanchor__cloaked">Blog</a>
                        <a href="" class="menu__itemanchor__cloaked">Contact</a>
                    </span>
                    <span class="masthead__action" id="mail-trigger">
                        <a href="#form" class="btn-shortcut">@</a>
                    </span>
                </nav>
            </div>

            <div class="hero-project">
                <div>
                    <div class="hero-project__image">
                        <a href="">
                            <img class="" src="assets/images/project-hero__image.jpg" alt="" />
                        </a>
                    </div>
                    <div class="hero-project__description">
                        <p class="txt-personal">
                            Dit gerieflijke kantoor-aan-huis voor een gastvrije single is perfect voor een dagje thuis werken…
                        </p>
                    </div>
                    <button class="hero-project__next btn-shortcut">></button>
                </div>
            </div>

            <div class="layout layout-split">
                <div class="introduction layout-split__main">

                </div>
                <div class="introduction layout-split__aside">

                </div>
            </div>

            <div style="height: 50vw;">&nbsp;</div>
        </div>
        <div class="page-footer">
            <div class="footer-copy">
                © {{ 'now' | date: "%Y" }} - Babs Gösgens
            </div>
            <div class="footer-socials">
                Follow me on
                <ul>
                    <li>Pinterest</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="/assets/javascript/main.js"></script>


    </body>
  </html>
