<!DOCTYPE html>
<html lang="nl" class="no-js fx{% if site.debug-grid %} debug-grid{% endif %}">

    {% include base/head.html %}

    <body class="page">
        <div class="page-wrapper" data-theme="#00f">
            <header class="masthead u-root">
                <div class="masthead__header lt-wrap">
                    <h1 class="masthead__title lt-wrap" onClick="javascript:location.href='{{ "/" | relative_url }}'">
                        <span class="lt-wrap__tight">House of</span>
                        <span class="lt-wrap__loose">Hippo</span>
                    </h1>
                    <p class="masthead__payoff lt-wrap lt-wrap--end">
                        <span class="is-gt-sh">{{ site.meta.author }}</span>
                        <span>Interieurontwerp</span>
                    </p>
                </div>
                <nav class="masthead__menu menu">
                    {% for item in site.data.menu %}
                        <a href="{{ item.link }}" class="menu__item is-cloaked">{{ item.name }}</a>
                    {% endfor %}
                </nav>
            </header>


            {% include slides/project-hero.html %}


            <blockquote class="page-intro" cite="{{ "/about/" | relative_url }}">
                <p class="page-intro__content">
                    <span class="page-intro__image">
                        <img class="lazy" src="{{ 'assets/images/babsgosgens.jpg' | relative_url }}" alt="" />
                    </span>
                    <span class="page-intro__text txt-intro">
                        Een ontwerp vertelt een verhaal. Over jou, of over je merk. Ik help je om jouw verhaal te vertalen naar je interieur.
                    </span>
                </p>
                <p class="page-intro__link">
                    <a class="txt-meta fx-color" href="">
                        Babs Gösgens
                        <span class="icn icn-chevron-right"></span>
                    </a>
                </p>
            </blockquote>


            <div class="project-slider-wrapper">
                <div class="project-slider__prev">
                    <button>
                        <i class="icn icn-chevron-thin-left"></i>
                        <span class="is-narrative">Vorige</span>
                    </button>
                </div>
                <div class="project-slider__next">
                    <button>
                        <i class="icn icn-chevron-thin-right"></i>
                        <span class="is-narrative">Vorige</span>
                    </button>
                </div>
                <div class="project-slider--parent" id="featured-project">
                    <section class="project-slider project-slider--child project-slider__item" data-slide-set="project01">
                        {% include slides/projects/01.html %}
                    </section>
                    <section class="project-slider project-slider--child project-slider__item" data-slide-set="project02">
                        {% include slides/projects/02.html %}
                    </section>
                    <section class="project-slider project-slider--child project-slider__item" data-slide-set="project03">
                        {% include slides/projects/03.html %}
                    </section>
                </div>
            </div>


            <section class="post-list">
                <h1 class="post-list__title txt-personal">Recent in Blog</h1>
                <ol class="post-list__list">
                    {% for post in site.categories.blog limit: 3 %}
                        <li class="post-list__item">
                            <p class="post-list__item-title">
                                <a class="anchor--accent" href="{{ post.url }}">{{ post.title }}</a>
                            </p>
                        </li>
                    {% endfor %}
                </ol>

            </section>


            <i class="page-theme fx-theme"></i>
            <i class="page-frame is-no-pointer"></i>
        </div>
        {% include base/footer.html %}

    </body>
  </html>
