<!DOCTYPE html>
<html lang="nl" class="no-js fx{% if site.debug-grid %} debug-grid{% endif %}">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta name="theme-color" content="#FFF">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ page.meta.description | default: site.meta.description }}" />
        <meta name="keywords" content="{% if page.meta.keywords %}{{ page.meta.keywords | push: site.meta.keywords | join: ", " }}{% else %}{{ site.meta.keywords | join: ", " }}{% endif %}" />
        <meta name="author" content="{{ page.author | default: site.meta.author | join: ", " }}" />
        <meta name="robots" content="{{ page.meta.robots | default: site.meta.robots }}">

        <link rel="icon" type="image/x-icon" href="assets/images/favicon-16x16.ico" sizes="16x16">
        <link rel="canonical" href="{{ site.url }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@200;400&family=Over+the+Rainbow&display=swap" rel="stylesheet">
        <link href="assets/styles/screen.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    </head>

    <body class="page">
        <div class="page-frame is-no-pointer">
        </div>
        <div class="page-wrapper">
            <div class="masthead">
                <h1>
                    <span class="masthead__title" id="masthead-title">
                        {{ site.title }}
                    </span><span class="masthead__payoff txt-personal">
                        Interieur ontwerp &amp; advies
                    </span>
                </h1>
                <nav class="masthead__menu">
                    <span class="menu">
                        <a href="" class="menu__itemanchor__cloaked">Over mij</a>
                        <a href="" class="menu__itemanchor__cloaked">Blog</a>
                        <a href="" class="menu__itemanchor__cloaked">Contact</a>
                    </span>
                    <span class="masthead__action" id="mail-trigger">
                        <a href="#form" class="btn-shortcut"><i class="icn icn-mail"></i></a>
                    </span>
                </nav>
            </div>

            <div class="hero-project">
                <figure>
                    <div class="hero-project__image">
                        <a class="hero-project__action" href="">
                            {% include project-hero.html %}
                        </a>
                    </div>
                    <figcaption class="hero-project__text">
                        <p class="txt-personal">
                            Dit gerieflijke kantoor-aan-huis voor een gastvrije single is perfect voor een dagje thuis werken…
                        </p>
                    </figcaption>
                    <button class="hero-project__next btn-shortcut">></button>
                </figure>
                <figure>
                    <div class="hero-project__image">
                        <a class="hero-project__action" href="">
                            <img class="lazy" src="assets/images/project-hero__image2.jpg" alt="" />
                        </a>
                    </div>
                    <figcaption class="hero-project__text">
                        <p class="txt-personal">
                            Lorem ipsum dolor sit amet
                        </p>
                    </figcaption>
                    <button class="hero-project__next btn-shortcut">></button>
                </figure>
            </div>

            <div class="layout layout-split">
                <div class="introduction layout-split__main">

                </div>
                <div class="introduction layout-split__aside">

                </div>
            </div>

            <div style="height: 20em;">&nbsp;</div>

            <div class="author-about">
                <img class="author-about__image lazy" src="assets/images/babsgosgens.jpg" alt="" />
                <div class="author-about__content">
                    <p class="author-about__text txt-personal">
                        Elk interieur vertelt een verhaal. Een fijn interieur vertelt het verhaal dat je steeds weer opnieuw wilt horen.
                    </p>
                    <div class="author-about__name">
                        <a href="">Babs Gösgens</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="page-footer">
            <div class="footer-copy">
                © {{ 'now' | date: "%Y" }} - Babs Gösgens
            </div>
            <div class="footer-socials">
                Follow me on
                <ul>
                    <li><i class="icn icn-chevron-right"></i>Pinterest</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <defs/>
            <symbol id="brandmark">
                <circle fill="#FFA67F" cx="46.306" cy="22.981" r="4.006"/>
                <path fill="#B7EBF5" d="M31.712.33a18.675 18.675 0 00-6.897.514c4.816 1.44 8.566 4.925 11.998 8.934 9.696 11.305 16.822-7.002-5.1-9.448z"/>
                <path fill="#779CBA" d="M9.482 24.29C9.324 13.36 15.978 4.036 24.815.844 10.907-1.744.375 10.754.218 23.487.083 35.549 9.047 46.32 19.77 47.544c1.7.2 3.422.13 5.1-.206-8.55-3.11-15.238-12.483-15.388-23.048z"/>
                <path fill="#B7EBF5" d="M35.95 38.448c-3.469 3.841-6.124 7.91-11.08 8.89 11.253 1.999 19.95-5.518 23.162-13.548 0 0-3.204-5.183-12.081 4.658z"/>
            </symbol>
            <symbol id="brandname-payoff">
                <g id="brandname" fill="#002064">
                    <path d="M19.316 26.484c-1.755 2.25-4.8 3.462-7.985 3.462C4.73 29.946.206 25.65.206 19.099c0-6.047 4.43-10.847 10.525-10.847 3.323 0 6.23.783 8.169 2.723l-1.71 2.903c-1.752-1.617-3.781-2.168-5.953-2.168-3.75 0-7.126 3-7.126 7.385 0 4.568 3.375 7.385 7.479 7.385a7.876 7.876 0 005.952-2.678l1.774 2.682z"/>
                    <path d="M39.319 27.313a9.377 9.377 0 01-6.414 2.625c-6.279 0-10.292-4.294-10.292-10.847 0-6.046 4.876-10.847 11.676-10.847 3.323 0 6.601 1.013 8.724 2.352v18.888H39.32v-2.171zm0-3.552V13.052a10.191 10.191 0 00-5.075-1.339c-4.662 0-7.708 3.414-7.708 7.57 0 4.523 2.858 7.2 6.969 7.2a8.18 8.18 0 005.814-2.722z"/>
                    <path d="M48.73 8.713h3.694v2.54a9.636 9.636 0 016.785-2.911c5.4 0 8.626 2.625 8.626 9.14v12.002h-3.698V18.172c0-4.336-1.984-6.376-5.859-6.376a7.993 7.993 0 00-5.862 2.678v15.003h-3.694l.007-20.764z"/>
                    <path d="M89.35 26.851a8.934 8.934 0 01-6.602 3c-6.095 0-10.018-4.2-10.018-10.614 0-6.413 4.8-10.985 11.353-10.985 2.217 0 3.834.46 5.251 1.474V.304h3.691v29.18h-3.69l.014-2.633zm0-3.23V13.327a9.41 9.41 0 00-5.124-1.613c-4.126 0-7.573 2.858-7.573 7.43 0 4.573 2.91 7.247 6.785 7.247 2.4 0 4.617-1.339 5.911-2.76v-.008zM109 8.252c6.65 0 11.079 4.613 11.079 10.847 0 6.233-4.43 10.847-11.08 10.847s-11.076-4.617-11.076-10.847c0-6.23 4.43-10.847 11.076-10.847zm0 18.232c4.155 0 7.156-2.956 7.156-7.385 0-4.34-3.001-7.386-7.157-7.386-4.062 0-7.152 3.001-7.152 7.386 0 4.384 3 7.385 7.152 7.385z"/>
                    <path d="M125.544 8.713h3.69v2.445c1.062-1.571 2.585-2.816 5.218-2.816 1.706 0 2.539.277 3.229.783l-1.29 3.466a4.553 4.553 0 00-2.817-.788c-2.4 0-3.556 1.433-4.34 2.956v14.725h-3.69V8.713z"/>
                </g>
            </symbol>
        </svg>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
        <script src="assets/javascript/main.js"></script>


    </body>
  </html>
