<!DOCTYPE html>
<html lang="nl" class="no-js fx{% if site.debug-grid %} debug-grid{% endif %}">

    {% include base/head.html %}

    <body class="page">
        <div class="page-wrapper" data-theme="#00f">

            {% include base/masthead.html %}

            <article class="post">

                <h1 class="post__title txt-title">{{ page.title }}</h1>
                <figure>
                    <img src="{{ 'assets/images/project-hero__image3-medium.jpg' | relative_url }}" />
                    <figcaption></figcaption>
                </figure>
                <div class="post__body">
                    <div class="post__main">

                        {{ content }}

                        <p class="txt-signature txt-personal">
                            Babs
                        </p>
                    </div>
                    <footer class="post__sidebar">
                        About me
                    </footer>
                </div>
            </article>

            <i class="page-frame is-no-pointer"></i>
        </div>

        {% include base/footer.html %}

    </body>
  </html>
